article.tweet {
	position: relative;
	border-radius: 4px;
	margin: 15px 15px;
	padding left: 15px;
	border: 1px solid #d3d3d3;
	text-align: left;
}

/* Hover state */
article.tweet:hover {
	border: 1px solid black;
	color: black;
}

article.tweet header {
	float: top;
	text-align: left; 
	background: #e9e9e9;
	padding: 5px 1px 1px 1px;
	height: 62px;
}

article.tweet img {
	float: left;
	padding-left: 5px;
	border-radius: 10px;
}

article.tweet .name {
	padding-left: 10px;
	height: 75px;
	font-weight: bold;
}

article.tweet .username {
	float: right;
	font-size: 13px;
	padding-top: 5px;
	padding-right: 2px;
	height: 75px;
	font-weight: bold;
}

/* Footer has a class named .time-ago */
article.tweet .time-ago {
	float: bottom;
	font-size: 13px;
	text-align: left; 
	padding: 5px 10px 10px 5px;
	margin-bottom: 5px;
	height: 20px;
	border-top: 1px solid #e9e9e9;
	position: bottom;
	font-weight: bold;
}







